main {
    width: 95%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

tr:nth-child(even) {
    background-color: #E5E5E5;
}

td {
    padding: 0.5rem;
}

td > * {
    vertical-align: middle;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.search_word {
    width: 400px;
    max-width: 60%;
}

.base_message {
    font-size: 20px;
    color: green;
}

.chart_ul {
    display: flex;
}