{% extends 'base.html' %}

{% block headertitle %}
収入項目削除
{% endblock %}

{% block content %}
<h1>収入項目削除</h1>
<h2>削除しますか？</h2>
<ul>
    <li>ナンバー：{{ incomecategory.number }}</li>
    <li>項目名：{{ incomecategory.name }}</li>
</ul>
<div class="d-flex flex-row mb-3">
    <div class="p-2">
        <form method="POST">
        {% csrf_token %}
            <button tytde="submit" class="btn btn-danger">削除</button>
        </form>
    </div>
    <div class="p-2">
        <button onclick="location.href='{% url 'kakeibo:income_category_index' %}'" class="btn btn-primary">戻る</button>
    </div>
</div>
{% endblock %}